<h3>About Us</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4 ">
         <img src="https://th.bing.com/th/id/OIP.wyC4eTeI4FDfAidVWc4HwgHaFz?w=213&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
         </div>

        <div class="col-md-8 ">
         <h4>Why choose us?</h4><br/>
         <p>
             We provide a quality service with best offers on the
             special occassions.
             Best delivery system which provides food just at your door on time.
             Any time available service with good quality of packing and items.
             Flexible options among the food items.Get variety of items just at one place.
             Free Delivery system is also avialble on special occassions.
         </p><br/>
         <p> Get Best Offers , Order Here !!</p>
        </div>
    </div>
 </div>
 
 
